@using SHS.StudentPortal.Common.Models
@model SubjectViewModel

<div class="modal fade" id="subjectDetailsModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">View Subject</h5>
            </div>
            <div class="modal-body">
                <form id="subjectForm" class="mt-2">
                    <h5 class="card-title">Subject Information</h5>
                    <hr />
                    <div class="row gx-3 gy-3">
                        <div class="col-12">
                            <label>Code</label>
                            <input id="subjectCode" type="text" class="form-control" asp-for="@Model.Code" />
                        </div>
                        <div class="col-12">
                            <label>Name</label>
                            <input id="subjectName" type="text" class="form-control" asp-for="@Model.Name" />
                        </div>
                        <div class="col-12">
                            <label>Track</label>
                            <select id="subjectTrackSelectList" class="form-select me-2" name="track" asp-for="@Model.TrackId" asp-items="@(new SelectList(Track.GetAllTracks, "Id", "Name"))">
                            </select>
                        </div>
                        <div class="col-12">
                            <label>Strand</label>
                            <select id="subjectStrandSelectList" class="form-select me-2" name="strand" asp-for="@Model.StrandId" asp-items="@(new SelectList(Strand.GetAllStrandsIncludePlaceholder, "Id", "Name"))">
                            </select>
                        </div>
                        <div class="col-12">
                            <label>Semester</label>
                            <select id="subjectSemester" class="form-select me-2" asp-for="@Model.Semester">
                                <option value="1st">1st Semester</option>
                                <option value="2nd">2nd Semester</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <label>Academic Year</label>
                            <select id="subjectAcademicYear" class="form-select me-2" asp-for="@Model.AcademicYear">
                                <option value="2021-2022">2021-2022</option>
                                <option value="2022-2023">2022-2023</option>
                                <option value="2023-2024">2023-2024</option>
                                <option value="2024-2025">2024-2025</option>
                                <option value="2025-2026">2025-2026</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <label>Hours</label>
                            <input id="subjectHours" type="number" class="form-control" asp-for="@Model.Hours" />
                        </div>
                        <div class="col-12">
                            <label>Days</label>
                            <input id="subjectDays" type="number" class="form-control" asp-for="@Model.Days" />
                        </div>
                        <div class="col-12">
                            <label>Units</label>
                            <input id="subjectUnits" type="number" class="form-control" asp-for="@Model.Units" />
                        </div>
                        <div class="col-12">
                            <label>Description</label>
                            <textarea id="subjectDesc" rows="3" class="form-control" asp-for="@Model.Description"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="updateSubject('@Model.Id')" tabindex="-1">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" tabindex="-1">Close</button>
            </div>
        </div>
    </div>
</div>