@using SHS.StudentPortal.Common.Models
@model InstructorViewModel

<div class="modal fade" id="instructorInfoDetailsModal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">INSTRUCTOR @Model.EmployeeId</h5>
            </div>
            <div class="modal-body">
                <form class="mt-2" asp-controller="Account" asp-action="Register" method="post">
                    <h5 class="card-title">Employee Information</h5>
                    <hr />
                    <div class="row gx-3 gy-3">
                        <div class="col-lg-3 col-12">
                            <label>Employee Id</label>
                            <input type="text" class="form-control" asp-for="@Model.EmployeeId" disabled />
                        </div>
                        <div class="col-lg-3 col-12">
                            <label>Major</label>
                            <input type="text" class="form-control" asp-for="@Model.Major" disabled />
                        </div>
                        <div class="col-lg-3 col-12">
                            <label>Department</label>
                            <select class="form-select" asp-for="@Model.DepartmentId" asp-items="@(new SelectList(Model.DepartmentList, "Key", "Value"))" disabled>
                                <option value="0" selected>Select Department</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-12">
                            <label>Advisory</label>
                            <select class="form-select" asp-for="@Model.AdvisorySectionId" asp-items="@(new SelectList(Model.SectionList, "Key", "Value"))" disabled>
                                <option value="@Guid.Empty.ToString()" selected>N/A</option>
                            </select>
                        </div>
                    </div>
                    <h5 class="card-title mt-3">Personal Information</h5>
                    <hr />
                    <div class="row gx-3 gy-3">
                        <div class="col-lg-3 col-12">
                            <label>First Name</label>
                            <input type="text" class="form-control" asp-for="@Model.FirstName" disabled />
                        </div>
                        <div class="col-lg-3 col-12">
                            <label>Middle Name</label>
                            <input type="text" class="form-control" asp-for="@Model.MiddleName" disabled />
                        </div>
                        <div class="col-lg-3 col-12">
                            <label>Last Name</label>
                            <input type="text" class="form-control" asp-for="@Model.LastName" disabled />
                        </div>
                        <div class="col-lg-3 col-12">
                            <label>Contact Information</label>
                            <input type="text" class="form-control" asp-for="@Model.ContactInfo" disabled />
                        </div>
                    </div>
                    <h5 class="card-title mt-3">Assigned Schedules</h5>
                    <hr />
                    <div class="row gx-3 gy-3">
                        <div class="col-lg-4">
                            <h4>Semester: 2nd</h4>
                        </div>
                        <div class="col-lg-6">
                            <h4>Academic Year: 2022 - 2023</h4>
                        </div>
                        <div class="col-12">
                            <table class="table table-striped table-hover text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">Subject</th>
                                        <th scope="col">Day</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Room No.</th>
                                        <th scope="col">Grades Submitted</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Schedules.Count() == 0)
                                    {
                                        <tr>
                                            <th colspan="5"><h3>No Schedules Found</h3></th>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var sched in Model.Schedules)
                                        {
                                            <tr>
                                                <td>@sched.Days</td>
                                                <td>@sched.Subject</td>
                                                <td>@sched.Time</td>
                                                <td>@sched.RoomNumber</td>
                                                <td>@sched.GradesSubmitted</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" tabindex="-1">Close</button>
            </div>
        </div>
    </div>
</div>