@using SHS.StudentPortal.Common.Models
@model InstructorViewModel

<div class="modal fade" id="instructorInfoDetailsModal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">INSTRUCTOR @Model.EmployeeId</h5>
            </div>
            <div class="modal-body">
                <form id="instructorInfoForm" class="mt-2">
                    <h5 class="card-title">Employee Information</h5>
                    <hr />
                    <div class="row gx-3 gy-3">
                        <div class="col-lg-3 col-12">
                            <label>Employee Id</label>
                            <input type="text" class="form-control" asp-for="@Model.EmployeeId" disabled />
                        </div>
                        <div class="col-lg-3 col-12">
                            <label>Major</label>
                            <input id="instrMajor" type="text" class="form-control" asp-for="@Model.Major" />
                        </div>
                        <div class="col-lg-3 col-12">
                            <label>Department</label>
                            <select id="instrDept" class="form-select" asp-for="@Model.DepartmentId" asp-items="@(new SelectList(Model.DepartmentList, "Key", "Value"))" >
                            </select>
                        </div>
                        <div class="col-lg-3 col-12">
                            <label>Advisory</label>
                            <select id="instrAdvisorySection" class="form-select" asp-for="@Model.AdvisorySectionId" asp-items="@(new SelectList(Model.SectionList, "Key", "Value"))" >
                            </select>
                        </div>
                    </div>
                    <h5 class="card-title mt-3">Login Information</h5>
                    <hr />
                    <div class="row gx-3 gy-3">
                        <div class="col-lg-4 col-12">
                            <label>Username</label>
                            <input type="text" class="form-control" asp-for="@Model.Username" disabled />
                            <span class="text-danger" asp-validation-for="@Model.Username"></span>
                        </div>
                        <div class="col-lg-4 col-12">
                            <label>Last Login</label>
                            <input type="text" class="form-control" asp-for="@Model.LastLogin" disabled />
                            <span class="text-danger" asp-validation-for="@Model.LastLogin"></span>
                        </div>
                        <div class="col-lg-2 col-12">
                            <label>&nbsp;</label>
                            <button class="btn btn-primary form-control" type="button" onclick="openUpdatePasswordModal()">Update Password</button>
                        </div>
                    </div>
                    <h5 class="card-title mt-3">Personal Information</h5>
                    <hr />
                    <div class="row gx-3 gy-3">
                        <div class="col-lg-3 col-12">
                            <label>First Name</label>
                            <input id="instrFirstName" type="text" class="form-control" asp-for="@Model.FirstName" />
                        </div>
                        <div class="col-lg-3 col-12">
                            <label>Middle Name</label>
                            <input id="instrMiddleName" type="text" class="form-control" asp-for="@Model.MiddleName" />
                        </div>
                        <div class="col-lg-3 col-12">
                            <label>Last Name</label>
                            <input id="instrLastName" type="text" class="form-control" asp-for="@Model.LastName" />
                        </div>
                        <div class="col-lg-3 col-12">
                            <label>Contact Information</label>
                            <input id="instrContactInfo" type="text" class="form-control" asp-for="@Model.ContactInfo" />
                        </div>
                    </div>
                    <h5 class="card-title mt-3">Assigned Schedules</h5>
                    <hr />
                    <div class="row gx-3 gy-3">
                        <div class="col-lg-4">
                            <h4>Semester: @Model.CurrentSemester</h4>
                        </div>
                        <div class="col-lg-6">
                            <h4>Academic Year: @Model.CurrentAcademicYear</h4>
                        </div>
                        <div class="col-12">
                            <table class="table table-striped table-hover text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">Subject</th>
                                        <th scope="col">Day</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Room No.</th>
                                        <th scope="col">Grades Submitted</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Schedules.Count() == 0)
                                    {
                                        <tr>
                                            <th colspan="5"><h3>No Schedules Found</h3></th>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var sched in Model.Schedules)
                                        {
                                            <tr>
                                                <td>@sched.Days</td>
                                                <td>@sched.Subject</td>
                                                <td>@sched.Time</td>
                                                <td>@sched.RoomNumber</td>
                                                <td>@sched.GradesSubmitted</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="updateInstructorBtn" type="button" class="btn btn-primary" onclick="updateInstructor('@Model.Id')" tabindex="-1">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" tabindex="-1">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Update PW Modal -->
<div class="modal fade bg-dark bg-opacity-50" id="updatePasswordModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Instructor Password</h5>
            </div>
            <div class="modal-body">
                <form id="updatePasswordForm">
                    <div class="row gx-3 gy-3">
                        <div class="col-12">
                            <label>New Password</label>
                            <input id="updatePasswordNewPassword" type="password" class="form-control" required minlength="6" />
                        </div>
                        <div class="col-12">
                            <label>Confirm New Password</label>
                            <input id="updatePasswordConfirmNewPassword" type="password" class="form-control" required minlength="6" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="updatePasswordBtn" class="btn btn-primary float-end" tabindex="-1" onclick="updateInstructorPassword('@Model.Id')">Update</button>
                <button type="button" class="btn btn-secondary float-end" data-bs-dismiss="modal" tabindex="-1">Cancel</button>
            </div>
        </div>
    </div>
</div>